[submodule "cookiecutter-python-functionapp"]
	path = cookiecutter-python-functionapp
	url = https://github.com/hazwan12/cookiecutter-python-functionapp.git
[submodule "cookiecutter-python-containerapp"]
	path = cookiecutter-python-containerapp
	url = https://github.com/hazwan12/cookiecutter-python-containerapp.git
